// Global
$body-font-stack: "Figtree", sans-serif;
$section-margin: 4rem;
$section-margin-mobile: 2rem;

$gutter-width: 1rem;

$default-transition-timing: 0.3s;
$default-delay-timing: 0.2s;
$default-animation-timing: 1s;

// Colours
$black: #000;
$white: #fff;
$denim: #1175B9;

// Breakpoint sizes
$min-width: 320px;
$max-width: 800px;
$min-font: 14px;
$max-font: 16px;
