.banner {
    @include background-cover();
    @include image-overlay();
    background-image: url('~/../../images/specialist-banner.jpg');
    padding-bottom: 4.75rem;
    padding-top: 4.75rem;

    &__header {
        color: $white;

        h1 {
            font-size: fluid-unit(60px);
            margin-bottom: 3.5rem;
        }
    }

    .standard-form {
        @include grid();
        background-color: $white;

        .form-fields {
            flex-wrap: nowrap;
            width: 70%;

            button:not(.browser-default):not(.button),
            input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
            select,
            textarea {
                border-color: transparent;
                padding-left: 0;
            }
        }

        .form-row {
            margin: 0;
            padding: fluid-unit(24px) fluid-unit(40px);

            &:not(:last-of-type) {
                border-right: 1px solid $mystic;
            }
        }

        .form-actions {
            margin-top: 0;
            width: 30%;

            .button {
                height: 100%;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .banner .standard-form {
        .form-fields,
        .form-actions {
            flex-wrap: wrap;
            width: 100%;
        }

        .form-row:not(:last-of-type)  {
            border: 0;
        }
    }
}
