.results {
    .container {
        display: flex;
        position: relative;
    }

    &__sidebar {
        height: 100%;
        left: -5rem;
        position: absolute;
        top: 0;
        width: 2.5rem;
    }

    &__header {
        margin-bottom: 1rem;
    }

    &__information {
        @include grid();
        align-items: center;

        font-size: fluid-unit(20px);
    }

    &__clear-results {
        margin-left: 1rem;

        i {
            color: $denim;
        }

        span {
            @include link-underline($denim);
        }
    }

    .result-item {
        @include grid();
        padding-bottom: fluid-unit(50px);
        padding-top: fluid-unit(50px);
        border-top: 1px solid $mystic;

        &__wrapper {
            @include grid();
            margin-right: auto;
            width: calc(80% - 100px);
        }

        &__actions {
            width: 20%;
        }

        &__image {
            margin-right: fluid-unit(32px);
            width: 80px;
        }

        &__information {
            width: calc(100% - (80px + #{fluid-unit(80px)}));
        }

        &__content {
            width: 100%;
        }

        &__element {
            display: inline-block;
            margin-bottom: fluid-unit(6px);
            margin-top: fluid-unit(6px);

            &:not(:only-of-type):not(:first-of-type) {
                margin-left: fluid-unit(12px);
            }
        }

        &.is-hidden {
            display: none;
        }
    }
}
.social-links {
    align-items: flex-start;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;

    &__item {
        border: 1px solid $mystic;
        height: 2.5rem;
        padding: fluid-unit(10px);
        width: 2.5rem;
        text-align: center;
    }
}

.pagination {
    border-top: 1px solid $mystic;
    margin-top: 0.5rem;
    padding-top: 1rem;

    &__container {
        align-items: center;
        display: flex;
        margin-top: 2rem;
    }

    .pagination-button {
        font-size: 0.5rem;
    }
}

.pagination-number,
.pagination-button {
    background-color: transparent;
    border: 1px solid $mystic;
    cursor: pointer;
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;

    &.active,
    &.disabled {
        cursor: not-allowed;
    }

    &:not(.disabled).active,
    &:not(.disabled):hover,
    &:not(.disabled):hover {
        color: $white;
        background: $denim;
        border-color: $denim;
    }
}

@media only screen and (max-width: 1400px) {
    .results__sidebar {
        left: 0;
        height: auto;
        position: relative;
        margin-right: 90px;
    }
}

@media only screen and (max-width: 1024px) {
    .results {
        &__sidebar {
            display: none;
        }

        &__clear-results {
            margin-left: 0;
            display: block;
            width: 100%;
        }

        .result-item {
            &__wrapper,
            &__actions {
                margin: 0;
                width: 100%;
            }

            &__information {
                margin: 0;
                width: 100%;
            }

            &__image {
                margin-bottom: 1rem;
                max-width: 90px;
            }

            &__element {
                display: block;

                &:not(:only-of-type):not(:first-of-type) {
                    margin-left: 0;
                }
            }
        }
    }
}
