button,
input,
select,
textarea {
    border-radius: 0;
    color: inherit;
    font: inherit;
    padding: 0;

    &[readonly] {
        cursor: not-allowed;
    }
}

input[type="search"] {
    appearance: none;
}

select {
    background-color: transparent;
    display: block;
    height: 2.8rem;
    line-height: 2.8rem;
    width: 100%;
}

.standard-form {
    text-align: left;

    .form-fields {
        @include list-reset;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    label {
        display: block;
        font-size: 0.9rem;
        margin-bottom: 0.25rem;
    }

    button:not(.browser-default):not(.button),
    input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
    select,
    textarea {
        background-color: transparent;
        border: 1px solid $black;
        border-radius: 0;
        color: $black;
        font: inherit;
        height: 2.8rem;
        line-height: 2.8rem;
        padding: 0 1rem;
        width: 100%;
    }

    textarea {
        display: block;
        min-height: 8rem;
    }

    .form-row {
        margin: 0;
        position: relative;
        width: 100%;

        .hide-label {
            @include visually-hidden;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &--half {
            width: calc(50% - 0.5rem);
        }
    }

    .form-actions {
        margin-top: 1rem;
    }
}
