.button {
    background-color: $denim;
    border: 1px solid $denim;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: fluid-unit(12px);
    font-weight: 600;
    min-width: 140px;
    opacity: 1;
    padding: fluid-unit(16px);
    text-align: center;
    text-transform: uppercase;
    transition: background-color $default-transition-timing, color $default-transition-timing;

    &:hover {
        background-color: $white;
        color: $denim;
    }

    &--outline {
        background-color: $white;
        color: $black;

        &:hover {
            background-color: $denim;
            color: $white;
        }
    }

    &--large {
        font-size: fluid-unit(18px);
    }

    &.is-hidden {
        @include visually-hidden();
    }
}

.button-grid {
    @include grid-with-gutter(0.5rem);

    > * {
        margin: 0.5rem;
    }

    &--column {
        flex-flow: column;
    }
}
