.button {
    background-color: $denim;
    border: 1px solid $denim;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: fluid-unit(12);
    font-weight: 600;
    min-width: 140px;
    opacity: 1;
    padding: 0.4rem 0.6rem;
    text-transform: uppercase;
    transition: background-color $default-transition-timing, color $default-transition-timing;

    &:hover {
        background-color: $white;
        color: $denim;
    }

    &--outline {
        background-color: $white;
        color: $black;

        &:hover {
            background-color: $denim;
            color: $white;
        }
    }

    &--large {
        font-size: fluid-unit(18);
    }

    &.is-hidden {
        @include visually-hidden();
    }
}
